

.imageMod {
	height:200px;
	width: 200px;
	margin:10px;
}

#divImg {
	display: inline-block;
}

#insectButton {
	margin-right:5px;
}
#rating {
	margin-left: 100px;
	font-weight: bolder;
}

#enterInsect {
	width: 20%;
}

#topicsBtn {

}

